@using SimpleCMS.Helpers
@{
    ViewBag.Title = "Index";
}

@foreach (Post item in Model) {
    <div class="post">
        <b>@item.Title</b>
        <p>@Html.Raw(item.Body.AutoLink().ToSimpleFormat())</p>
        <div class="author">
            posted by @item.Author.Email
            at @Html.FriendlyDate(item.CreatedDate)
        </div>
        <div class="clear"></div>
    </div>
}