@{
    ViewBag.Title = "403 - Forbidden";
}
<article>
    <h1>Forbidden</h1>
    <div>
        <p>Sorry, but you are not authorized to view this page.</p>
        <p>Try logging in with a different account</p>
    </div>
</article>
