@model SimpleCMS.Controllers.ExceptionDetails
@{
    ViewBag.Title = "500 - Server Error";
}
<article>
    <h1>@ViewBag.Message</h1>
    <div>
        <p><strong>Description:</strong> @Model.Description</p>
    </div>
</article>
