span.field-validation-error
{
    margin-bottom: 20px;
    padding: 5px 14px 5px 14px;
    -moz-box-shadow: 0 0 4px #6A91B7;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #FF0000;
    background-color: #FF6A6A;
}

div.editor-label
{
    margin: 5px;
}

div.editor-label label
{
    font-size: 1.285em;
}

.text-box
{
    width: 500px;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    border: 2px solid #AAA;
}

input.single-line:focus, textarea.multi-line:focus
{
    border: 2px solid #888;
}

textarea.multi-line
{
    height: 120px;
}