<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="db_connection" connectionString="Data Source=../../../SimpleCMS/App_Data/database.db;Version=3;New=False;Compress=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Debug"/>
    <add key="sql_export" value="../../../../../build/schema_export.sql"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.4000" newVersion="3.0.0.4000"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
