<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RhinoMocks" version="3.6" />
  <package id="structuremap" version="2.6.2" />
  <package id="structuremap.automocking" version="2.6.2.1" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="maventhought.testing.nunit" version="0.3.7" />
  <package id="maventhought.commons" version="0.9.4" />
  <package id="FluentNHibernate" version="1.2.0.712" />
  <package id="NHibernate" version="3.2.0.4000" />
</packages>