@model Account

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<fieldset>
    <legend>Account</legend>
    @Model.Email
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>